

body{
    
	margin: 0;
	padding: 0;
	font-family: Helvetica,Arial,sans-serif;
	background-color: #e6ecf0;
}

a{

	text-decoration: none;
}

a:hover{

	text-decoration: underline;
}


header{
    
    padding: 7px 48%;
	background-color: white;
	width: 100%;
    position: fixed;
    top: 0;

}

header img{
    
    width: 30px;
    height: auto;
    
}

main{

	padding: 5% 10% 0;

}

#user{

	width: 25%;
	height: auto;
	margin: 0;
	background-color: white;
	background-image: url("../img/palms.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 55px 20px 20px;
	display: inline-block;
}

#user img{

	width: 72px;
	height: auto;
	cursor: pointer;
    
}


.name{

	color: black;
	font-size: 19px;
	font-weight: 600;
	letter-spacing: 0;
}

.username{
     
     color: grey;
     font-size: 14px;
     margin-left:75px;

}

li{

	color: grey;
	font-size: 13px;
	font-weight: 600;
}

li:hover{

	color: #35B1B1;
	cursor: pointer;
}



.info a{

	color: #35B1B1;
	font-size: 18px;
	font-weight: 600;
}

.info a:hover{

	text-decoration: none;
}

ul{

   padding: 0;
   margin: 20px 0 0;
	
}

li{
     
    margin-right:20px;
	display: inline-block;
}




#input-tweet{

    width: 65%;
    height: auto;
    display: inline-block;
    float: right;
    padding: 15px;
    background-color: #E5F5F5;


}

#input-tweet img{

    width: 50px;
    height: auto;

}

.form{
    width: 90%;
    display: inline-block;
    float: right;

}

.form p{

    
    display: inline-block;
}



textarea{
 
    width: 96%;
	height: auto;
	font-size: 14px;
	border: 2px solid #35B1B1;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;

}


textarea:focus{
 
    outline: none;

}

button{
    
    background-color: #35B1B1;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    float: right;
    margin-top: 10px;

}

 
button:focus{
 
    outline: none;

}



.inactive{
    
    opacity: 0.3;

}



/***** SECCION TWEETS ****/

#tweets{

	width: 97%;
    height: auto;
    margin-top: 30px;
    display: inline-block;
}

#tweets div{

    width: 95%;
    height: auto;
    padding: 0 20px;
    background-color: white;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.red{

    color: red;
}

.orange{

    color: orange;
}





